<h1>About {{name}}</h1>

<p>{{name}} is located in {{location}}. Their recent album was {{recentAlbum}}</p>


<form action="/{{id}}?_method=delete" method="post">
    <input type="submit" value="Delete">
</form>

<a href="/edit/{{id}}">Update an album?</a>